<div style="color:darksalmon;text-align:center;height:150px;background-color:azure;border-style:dotted;
border-color:slateblue;border-width:thick; box-shadow: 0px 0px 50px inset">
    <img id="imgWelcome" alt="www.nareshit.com" src="~/Images/images.jpg" width="96%" height="80%" />
    <marquee style="font-size:x-large;color:crimson;" behavior="alternate">
        .NET, Java, Python, Hadoop, Data Science, DevOps, etc.
    </marquee>
</div>

