
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayEmp1</title>
</head>
<body>
    <div> 
        <table border="1" align="center" width="25%">
            <tr>
                <td>Id</td>
                <td>@ViewBag.Id</td>
            </tr>
            <tr> 
                <td>Name</td>
                <td>@ViewBag.Name</td>
            </tr>
            <tr>
                <td>Job</td>
                <td>@ViewBag.Job</td>
            </tr>
            <tr>
                <td>Salary</td>
                <td>@ViewBag.Salary</td>
            </tr>
        </table>
    </div>
</body>
</html>
